<input
  class="form-control"
  type="password"
  name="password"
  placeholder="enter password"
  (input)="onchangepassword($event)"
/>
<!-- <button (click)="showPass()">show</button> -->
<span class="text-info"
  >Desired password: <b>{{ password1 }}</b></span
>
<input type="text" #inputChangevalue name="sample" />
<input type="text" #inputChangevalue1 name="hello" />
<button (click)="inputChange({inputChangevalue, inputChangevalue1})">
  Click me
</button>

<div class="row mt-3">
  <div class="w-75">
    <input type="text" #serveContent class="form-control" />
  </div>
  <div class="w-25">
    <button (click)="getServerContent()" class="btn btn-info">
      Get server content input
    </button>
  </div>
</div>
