<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 p-0">
      <input
        class="form-control mb-2"
        type="text"
        name="username"
        placeholder="enter username"
        [(ngModel)]="username"
      />
    </div>

    <button
      class="btn btn-warning col-md-4 col-lg-2 mb-2"
      (click)="onReset()"
      [disabled]="username === ''"
    >
      reset field
    </button>
  </div>
</div>
<span [ngClass]="{ error: isError, success: !isError }" class="default"
  >Desired username: <b>{{ username || warning }}</b></span
>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="button"
  aria-pressed="false"
  autocomplete="off"
  (click)="onColorChange()"
>
  Change Color
</button>
